@import '@angular/material/prebuilt-themes/azure-blue.css';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Kanit', 'Roboto', sans-serif;
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
